<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <meta name="theme-color" content="#F04E27" /> -->
    <link rel="stylesheet" href="../style/bootstrap.css" />
    <link rel="stylesheet" href="../owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../owlcarousel/assets/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../style/Font.css" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="../style/index.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="../owlcarousel/owl.carousel.min.js"></script>
    <script src="../js/scripts.js"></script>
    <title>Agenic Site</title>
  </head>
  <body>
    <footer class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <img
              class="mt-lg-4"
              src="../img/logo-seconds.png"
              alt=""
              width="150px"
            />
            <h5 class="font-weight-bold number py-3">(865) 508-9856</h5>
            <h5 class="">info@agenic.com</h5>
            <div class="row py-3">
              <span
                class="iconify ml-3"
                data-icon="cib:instagram"
                style="font-size: 20px;"
              ></span>
              <span
                class="iconify"
                data-icon="bx:bxl-linkedin"
                style="font-size: 20px;"
              ></span>
              <span
                class="iconify"
                data-icon="fa:behance"
                style="height: 24px;"
              ></span>
            </div>
          </div>
          <div class="col-lg-2">
            <h6 class="my-4 font-weight-bold">NEWS</h6>
            <ul>
              <li><a href="#">Agency News</a></li>
              <li><a href="#">Brand News</a></li>
              <li><a href="#">Industry</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <h6 class="my-4 font-weight-bold">WORK</h6>
            <ul>
              <li><a href="#">Ad Campaigns</a></li>
              <li><a href="#">Branding</a></li>
              <li><a href="#">Case Studies</a></li>
              <li><a href="#">Social Media</a></li>
              <li><a href="#">Website Design</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <h6 class="my-4 font-weight-bold">RESOURCES</h6>
            <ul>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">24/7 Support</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Developer Docs</a></li>
              <li><a href="#">Affiliates</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h4 class="my-4">Subscribe to our Newsletter</h4>
            <span class="my-4">Stay informed on our latest news!</span>
            <div class="input-group mb-3 my-4">
              <input
                type="text"
                class="form-control"
                placeholder="Enter your Email"
                aria-label="Enter your Email"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon2"
                  style="font-size: 14px;"
                >
                  SUBSCRİBE
                </button>
              </div>
            </div>
            <img class="mt-1" src="img/paymend.png" alt="" />
          </div>
        </div>
      </div>
    </footer>
    <section class="comp">
      <div class="container py-4">
        <div class="col-lg-12 d-flex flex-column flex-lg-row px-0">
          <span
            >© 2019 AGENİC - Responsive Agenic HTML5 Template. All Rights
            Reserved. Kapitol Team</span
          >
          <span class="ml-lg-auto pt-2 pt-lg-0">Legal</span>
          <span class="ml-lg-3 pt-2 pt-lg-0">Terms</span>
          <span class="ml-lg-3 pt-2 pt-lg-0">Contact</span>
        </div>
      </div>
    </section>

    <!-- JS, Popper.js, and jQuery -->
    <!-- <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
