<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <meta name="theme-color" content="#F04E27" /> -->
    <link rel="stylesheet" href="../style/bootstrap.css" />
    <link rel="stylesheet" href="../owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="../owlcarousel/assets/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../style/Font.css" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="../style/index.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="../owlcarousel/owl.carousel.min.js"></script>
    <script src="../js/scripts.js"></script>
    <title>Agenic Site</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light shadow-sm sticky-top">
        <div class="container">
          <a class="navbar-brand" href="index.html"
            ><img src="../img/logo-seconds.png" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  href="#"
                  id="navbarDropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Services
                </a>
                <div
                  class="dropdown-menu shadow-sm"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <div class="dropright dropdown-item">
                    <a
                    class="d-flex align-items-center"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Sliders
                      <span
                        class="iconify"
                        data-icon="eva:arrow-ios-forward-fill"
                        style="margin-left: auto;"
                      ></span>
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#saa"
                        >Something else here</a
                      >
                    </div>
                  </div>

                  <div class="dropright dropdown-item">
                    <a
                    class="d-flex align-items-center"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Headers
                      <span
                        class="iconify"
                        data-icon="eva:arrow-ios-forward-fill"
                        style="margin-left: auto;"
                      ></span>
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                  <div class="dropright dropdown-item">
                    <a
                      class="d-flex align-items-center"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Menus Styles
                      <span
                        class="iconify"
                        data-icon="eva:arrow-ios-forward-fill"
                        style="margin-left: auto;"
                      ></span>
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                  <div class="dropright dropdown-item">
                    <a
                    class="d-flex align-items-center"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Forms <span
                      class="iconify"
                      data-icon="eva:arrow-ios-forward-fill"
                      style="margin-left: auto;"
                    ></span>
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                  <div class="dropright dropdown-item">
                    <a
                    class="d-flex align-items-center"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Widgets <span
                      class="iconify"
                      data-icon="eva:arrow-ios-forward-fill"
                      style="margin-left: auto;"
                    ></span>
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                  <div class="dropright dropdown-item">
                    <a
                    class="d-flex align-items-center"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Page Titles <span
                      class="iconify"
                      data-icon="eva:arrow-ios-forward-fill"
                      style="margin-left: auto;"
                    ></span>
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                  <div class="dropright dropdown-item">
                    <a
                    class="d-flex align-items-center"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Buttons <span
                      class="iconify"
                      data-icon="eva:arrow-ios-forward-fill"
                      style="margin-left: auto;"
                    ></span>
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                  <div class="dropright dropdown-item">
                    <a
                    class="d-flex align-items-center"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Footers <span
                      class="iconify"
                      data-icon="eva:arrow-ios-forward-fill"
                      style="margin-left: auto;"
                    ></span>
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Our Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="portfolio.html">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <section class="header-main py-md-5">
        <div class="container py-md-5">
          <div class="row justify-content-between">
            <div class="col-lg-5 py-5">
              <h4>
                Nullam consequat rutrum arcu vel mattis. Suspendisse non sem
                aliquet, sagittis.
              </h4>
              <p class="pt-4">
                Nullam consequat rutrum arcu vel mattis. Suspendisse non sem
                aliquet, sagittis nisi ac, eleifend dolor.
              </p>
              <div class="row">
                <a href="#" class="agenic-header-button-one rounded mt-4 ml-3"
                  >Get a Free Quote<span
                    class="iconify"
                    data-icon="la:long-arrow-alt-right-solid"
                  ></span
                ></a>
                <a href="#" class="agenic-header-button-two rounded mt-4 mx-3"
                  >See References<span
                    class="iconify"
                    data-icon="la:long-arrow-alt-right-solid"
                  ></span
                ></a>
              </div>
            </div>
            <div class="col-lg-6 py-5">
              <div class="slider px-5">
                <div class="owl-carousel header-slide">
                  <img src="../img/header-slide1.jpg" alt="" />
                  <img src="../img/pixiz-14-08-2020-17-19-14.jpg" alt="" />
                  <img src="../img/NoPath.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
</body>
</html>