@import "../home_section/header";
@import "../home_section/what-we-do";
@import "../home_section/briefly-about-us.scss";
@import "../home_section/recent-work";
@import "../home_section/testimonial";
@import "../home_section/call-us";
@import "../home_section/blog";
