.contact-page-contact {
    .adress {
      line-height: 2;
    }
    .row {
      .contact-page-3d-button {
        padding: 10px 45px;
        background-color: #06121e;
        border-bottom: 3px solid #d23914;
        color: #fff;
        border-radius: 2px;
        text-decoration: none;
        display: inline-block;
        &:active {
          position: relative;
          border-bottom: 0;
          top: 3px;
        }
      }
    }
  }