.about-page-our-team {
  background-color: #f7f9fb;
  .container {
    .title {
      font-weight: bold;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: -14px;
        height: 2px;
        width: 75px;
        left: 0;
        background-color: $primary-color;
      }
    }
    .row {
      .our-team-card {
        transition: 500ms all;
        background-color: #fff;
        i {
          background-color: #eff1f491;
          color: #484848;
          height: 40px;
          width: 40px;
          text-align: center;
          font-size: 20px;
          line-height: 40px;
          border-radius: 50%;
          border: 1px solid #eff1f4;
          transition: 300ms all;
          &:hover {
            background-color: #f04f2731;
            border-color: #f04f27;
            color: #f04f27;
          }
        }
        &:hover {
          // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.17);
        }
      }
    }
  }
}
