.about-page-our-honor-table {
    .container {
      .title {
        font-weight: bold;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          bottom: -14px;
          height: 2px;
          width: 75px;
          left: 0;
          background-color: $primary-color;
        }
      }
      .post {
        color: $primary-color;
        background-color: #eff1f481;
        // background-color: red;
        i {
          font-size: 20px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid $primary-color;
          background-color: #f04f2749;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        span {
          color: #484848;
          font-size: 15px;
        }
      }
    }
  }