.about-page-testimonial {
    .container {
      .title {
        font-weight: bold;
        position: relative;
        width: 200px;
        &::after {
          position: absolute;
          content: "";
          bottom: -14px;
          left: 65px;
          height: 2px;
          width: 75px;
          background-color: $primary-color;
        }
      }
    }
    .container-fluid {
      .owl-dots {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          margin-left: 5px;
          height: 10px;
          width: 10px;
          border-radius: 10px;
          outline: none;
          border: 2px solid #999999;
          //
        }
        .active {
          background-color: #999999;
        }
      }
      .testimonial-slider {
        .post {
          border: 1px solid #eff1f4;
          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
          p {
            padding-left: 1.5rem !important;
            padding-right: 1.5rem !important;
          }
          .customer {
            color: #999999;
            margin-bottom: 15px;
          }
        }
      }
    }
  }