.blog-page-tabs {
    .container {
      .row {
        .post {
          .row {
            span {
              color: #c2c2c2;
            }
          }
          h5 {
            color: #222835;
            transition: 300ms all;
            &:hover {
              color: $primary-color;
              transition: 300ms all;
            }
          }
          p {
            color: #777777;
          }
          img {
            width: 100%;
          }
          a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0px;
            color: $primary-color;
            border-radius: 16px;
            // &:hover{
            //   background-color: $primary-color;
            //   color:#fff;
            // }
            .iconify {
              margin-left: 15px;
            }
          }
        }
      }
      .nav {
        .search-button {
          .form-control {
            border-radius: 2px;
            border-color: #eff1f4;
          }
          .input-group-append {
            button {
              color: #222835;
              border-color: #eff1f4;
              border-top-left-radius: 0px;
              border-bottom-left-radius: 0px;
              border-top-right-radius: 2px;
              border-bottom-right-radius: 2px;
              &:hover {
                color: #fff;
              }
            }
          }
        }
        .nav-item {
          margin-left: 0;
          .active {
            border: 2px solid $primary-color !important;
            color: $primary-color !important;
          }
          .nav-link {
            border: 2px solid transparent;
            border-radius: 28px;
            background-color: transparent;
            color: #222835;
            font-weight: bold;
          }
        }
      }
      .tab-content {
        .post {
          img {
            position: relative;
            object-fit: cover;
            width: 100%;
          }
          &:hover {
            .more {
              opacity: 1;
            }
          }
          .more {
            h5 {
              .iconify {
                // margin-right: 10px;
                cursor: pointer;
                &:hover {
                  color: #000;
                }
              }
            }
            transition: 300ms all;
            opacity: 0;
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            bottom: 30px;
            background-color: #f04f27c2;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
        .load-more-button {
          padding: 10px 15px;
          text-decoration: none;
          background-color: #222835;
          color: #fff;
          border: 1px solid;
          transition: 300ms all;
          &:hover {
            color: #222835;
            background-color: #fff;
          }
        }
      }
    }
  }