.briefly-about-us {
  .container {
    .title {
      font-weight: bold;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: -14px;
        height: 2px;
        width: 75px;
        left: 0;
        background-color: $primary-color;
      }
    }
    .r-more {
      color: $primary-color;
      padding: 10px;
      border-radius: 16px;
      background-color: #f04f272d;
      font-size: 15px;
      transition: 300ms all;
      &:hover {
        cursor: pointer;
        background-color: $primary-color;
        color: #fff;
      }
    }
    .row {
      .big-img {
        .container-img {
          @media screen and (max-width: 992px) {
            height: 400px !important;
          }
          img {
            filter: grayscale(9);
            transition: 300ms all;
          }
          &:hover {
            img {
              filter: grayscale(0);
            }
            .texts {
              background-color: transparent;
            }
          }
          .texts {
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
            bottom: 0;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-left: 50px;
            padding-bottom: 50px;
            background: rgb(34, 40, 53);
            background: linear-gradient(
              180deg,
              rgba(34, 40, 53, 0) 0%,
              rgba(0, 0, 0, 0.8) 100%
            );
            h5 {
              &:last-child {
                color: #c4c4c4;
              }
              &:first-child {
                font-weight: bold;
                .iconify {
                  margin-left: 15px;
                }
              }
            }
          }
        }
      }
      .small-img {
        .container-img {
          @media screen and (max-width: 992px) {
            height: 400px !important;
          }

          img {
            filter: grayscale(9);
            transition: 300ms all;
          }
          &:hover {
            img {
              filter: grayscale(0);
            }
            .texts {
              background-color: transparent;
            }
          }
          .texts {
            position: absolute;
            top: 0;
            left: 0px;
            right: 0px;
            bottom: 0;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-left: 25px;
            padding-bottom: 25px;
            background: rgb(34, 40, 53);
            background: linear-gradient(
              180deg,
              rgba(34, 40, 53, 0) 0%,
              rgba(0, 0, 0, 0.8) 100%
            );
            h5 {
              &:last-child {
                color: #fff;
              }
              &:first-child {
                font-weight: bold;
                .iconify {
                  margin-left: 15px;
                }
              }
            }
          }
        }
      }
      img {
        @media screen and (max-width: 992px) {
          height: 400px !important;
        }
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }
  }
}
