.call-us {
  background-color: #1f1f1f;
  color: #fff;
  .container {
    .call-us-button {
      background-color: $primary-color;
      text-decoration: none;
      color: #fff;
      width: 200px;
      height: 60px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: 300ms all;
      &:hover {
        border: 1px solid $primary-color;
        background-color: transparent;
        color: $primary-color;
      }
      .iconify {
        margin-left: 15px;
      }
    }
  }
}
