header {
  background: rgb(247, 249, 251);
  background: linear-gradient(
    180deg,
    rgba(247, 249, 251, 0.5) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  .navbar {
    background-color: #fff;
    .container {
      button {
        outline: none;
      }
    }
  }
  .get-start-now {
    background-color: #eff9fa;
    .agenic-header-button-one {
      background-color: #222835;
      text-decoration: none;
      color: #fff;
      width: 200px;
      height: 60px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      transition: 300ms all;
      &:hover {
        border: 1px solid #222835;
        background-color: transparent;
        color: #222835;
      }
      .iconify {
        margin-left: 15px;
      }
    }
  }
  .header-three {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: none;
    @media (min-width: 992px) {
      background-color: transparent;
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: #fff;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  .header-main-two {
    .carousel-item {
      h3 {
        &:last-child {
          font-size: 26px;
        }
      }
      p {
        color: #e2e2e2;
      }
      .agenic-header-button-one {
        background-color: $primary-color;
        text-decoration: none;
        color: #fff;
        width: 200px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms all;
        &:hover {
          border: 1px solid $primary-color;
          background-color: transparent;
          color: $primary-color;
        }
        .iconify {
          margin-left: 15px;
        }
      }
      .title {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          bottom: -14px;
          height: 2px;
          width: 75px;
          left: 40px;
          background-color: $primary-color;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      opacity: 1;
      i {
        font-size: 18px;
        height: 42px;
        width: 42px;
        text-align: center;
        line-height: 42px;
        background-color: #000;
      }
    }
    .custom-carousel-caption {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // z-index: 10;
      color: #fff;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .header-main {
    .container {
      .row {
        .col-lg-5 {
          h4 {
            line-height: 1.5;
          }
          p {
            line-height: 2;
          }
          .agenic-header-button-one {
            background-color: $primary-color;
            text-decoration: none;
            color: #fff;
            width: 200px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 300ms all;
            &:hover {
              border: 1px solid $primary-color;
              background-color: #fff;
              color: $primary-color;
            }
            .iconify {
              margin-left: 15px;
            }
          }
          .agenic-header-button-two {
            border: 1px solid #222835;
            text-decoration: none;
            color: #222835;
            width: 200px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 300ms all;
            &:hover {
              background-color: #222835;
              color: #fff;
            }
            .iconify {
              margin-left: 15px;
            }
          }
        }
        .col-lg-6 {
          .slider {
            background-color: #f04f274b;
            position: relative;
            .header-slide {
              top: -25px;
              .owl-nav {
                .owl-prev {
                  outline: none;
                  position: absolute;
                  top: 125px;
                  left: -25px;
                  span {
                    background-color: #f04f2783;
                    color: #fff;
                    font-size: 48px;
                    display: block;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    line-height: 45px;
                  }
                }
                .owl-next {
                  outline: none;
                  position: absolute;
                  top: 125px;
                  right: -25px;
                  span {
                    background-color: #f04f2783;
                    color: #fff;
                    font-size: 48px;
                    display: block;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    line-height: 45px;
                  }
                }
              }
              img {
                object-fit: cover;
                height: 300px;
              }
            }
          }
        }
      }
    }
  }
}
