.recent-work {
    .container {
      .title {
        font-weight: bold;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          bottom: -14px;
          height: 2px;
          width: 75px;
          left: 0;
          background-color: $primary-color;
        }
      }
      .r-more {
        color: $primary-color;
        padding: 10px;
        border-radius: 16px;
        background-color: #f04f272d;
        font-size: 15px;
        transition: 300ms all;
        &:hover {
          cursor: pointer;
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
    .container-fluid {
      .owl-dots {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          margin-left: 5px;
          height: 10px;
          width: 10px;
          border-radius: 10px;
          outline: none;
          border: 2px solid #999999;
          //
        }
        .active {
          background-color: #999999;
        }
      }
      .recent-work-slider {
        .post {
          img {
            position: relative;
            object-fit: cover;
          }
          &:hover {
            .more {
              opacity: 1;
            }
          }
          .more {
            h5 {
              .iconify {
                margin-right: 10px;
                cursor: pointer;
                &:hover {
                  color: #000;
                }
              }
            }
            transition: 300ms all;
            opacity: 0;
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            bottom: 30px;
            background-color: #f04f27c2;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }