.what-we-do {
  .container {
    .title {
      font-weight: bold;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        bottom: -14px;
        height: 2px;
        width: 75px;
        left: 0;
        background-color: $primary-color;
      }
    }
    .row {
      a {
        text-decoration: none;
      }
      .post {
        background-color: #eff9fa;
        font-weight: bold;
        border: 1px solid #eff9fa;
        transition: 300ms all;
        color: #222835;

        .iconify:last-child {
          color: $primary-color;
        }
        &:hover {
          color: $primary-color;
          border: 1px solid $primary-color;
          background-color: #f04f272d;
        }
      }
    }
  }
}
